<% if @office.errors.any? %>
  <div class="alert alert-danger">
    <%= pluralize(@office.errors.count, "errors") %>

    <ul>
      <% @office.errors.full_messages.each do |message| %>
	<li>
	  <%= message %>
	</li>
      <% end %>
    </ul>
  </div>
<% end %>


<h1>Modificar Sucursal</h1>

<%= form_for(@office) do |f| %>

       <p>
         <%= f.label :address %><br>
         <%= f.text_field :address %>
       </p>
       <p>
         <%= f.label :sii_code %><br>
         <%= f.text_field :sii_code %>
       </p>
       <p>
         <%= f.label :phone %><br>
         <%= f.text_field :phone %>
       </p>


       <p>
         <%= f.label :description %><br>
         <%= f.text_field :description %>
       </p>


       <p>
         <%= f.label :hour_in %><br />
         <%= f.time_select :hour_in %>
       </p>


       <p>
         <%= f.label :hour_out %><br>
         <%= f.time_select :hour_out%>
       </p>





  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Atras', offices_path %>
