<%= render 'partials/search_product/search_product' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Venta
    </div>
  </div>

  <div class="panel-body">
    <table class="table">
      <thead>
	<th>
	  N° de Venta
	</th>

	<th>
	  Vendedor
	</th>

	<th>
	  Fecha
	</th>
      </thead>

      <tbody>
	<tr>
	  <td>
	    <%= Transaction.last.id + 1 %>
	  </td>

	  <td>
	    <%= current_user.name %>
	  </td>

	  <td>
	    <%= Time.now.to_formatted_s(:db) %>
	  </td>
	</tr>
      </tbody>
    </table>

    <br>

    <div id="cart_item_list">
      <%= render 'partials/cart/cart', cart: @cart %>
    </div>



    <div class="col-xs-8">
      <br>
      <br>

      <%= form_for(:transaction, url: new_sale_path, method: :get) do %>
	<% cache do %>
	  <h3>
	    Tipo de pago
	  </h3>
	  <br>
	  <% for payment_method in PaymentMethod.all %>
	    <%= label_tag payment_method.description, payment_method.description %>
	    <%= check_box_tag payment_method.description %>
	    <br>
	  <% end %>
	<% end %>
	<br>
	<br>

	<%= submit_tag 'Venta', class: 'btn btn-success' %>
	<%= link_to 'Cotizacion', quotations_index_path, class: 'btn btn-success' %>
      <% end %>

      <br>

      <%= link_to raw('<button class="btn btn-danger">Limpiar</button>'), cart_path(@cart), method: :delete, remote: true %>

    </div>
  </div>
</div>
