<div class="panel panel-default">
  <div class="panel-heading">
    Buscar productos
  </div>
  <div class="panel-body">
    <%= form_tag(search_products_path, method: :get, remote: true) do %>
      <%= autocomplete_field_tag :search_product_field, '', autocomplete_product_name_products_path %>
      <%#= text_field_tag(:search_product_field) %>
      <%= submit_tag('Buscar', class: 'btn btn-default') %>
    <% end %>

    <br>

    <div id="search_product_result">
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Venta
    </div>
  </div>

  <div class="panel-body">
    <table class="table">
      <thead>
	<th>
	  N° de Venta
	</th>

	<th>
	  Vendedor
	</th>

	<th>
	  Rut cliente
	</th>

	<th>
	  Fecha
	</th>
      </thead>

      <tbody>
	<tr>
	  <td>
	    <%= Transaction.last.id + 1 %>
	  </td>

	  <td>
	    <%= current_user.rut %>
	  </td>

	  <td>

	  </td>

	  <td>
	    <%= Time.now.to_formatted_s(:db) %>
	  </td>
	</tr>
      </tbody>
    </table>

    <br>

    <div id="cart_item_list">
      <%= render 'partials/cart/cart', cart: @cart %>
    </div>

    <div class="col-xs-8">
      <%= form_for(:transaction, url: '/transactions') do %>
	<%= label_tag 'Rut cliente' %>
	<%= text_field_tag :client_rut %>

	<br>
	<br>

	<%= submit_tag('Vender', class: 'btn btn-success') %>
	<%= link_to raw('<button class="btn btn-danger">Limpiar</button>'),
	  cart_path(@cart),
	method: :delete %>
      <% end %>
    </div>
  </div>

  <br>

</div>

