<%= render 'partials/search_product/search_product' %>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Venta
    </div>
  </div>

  <div class="panel-body">
    <table class="table">
      <thead>
	<th>
	  N° de Venta
	</th>

	<th>
	  Vendedor
	</th>

	<th>
	  Fecha
	</th>
      </thead>

      <tbody>
	<tr>
	  <td>
	    <%= Transaction.last.id + 1 %>
	  </td>

	  <td>
	    <%= current_user.rut %>
	  </td>

	  <td>
	    <%= Time.now.to_formatted_s(:db) %>
	  </td>
	</tr>
      </tbody>
    </table>

    <br>

    <div id="cart_item_list">
      <%= render 'partials/cart/cart', cart: @cart %>
    </div>



    <div class="col-xs-8">
      <label>Rut cliente</label>

      <%= autocomplete_field_tag :client_rut_input, session[:client_rut], autocomplete_client_rut_clients_path %>
      <br>
      <br>

      <%= form_for(:transaction, url: '/transactions', remote: true) do %>
	<%= submit_tag('Vender', class: 'btn btn-success') %>
	<%= link_to raw('<button class="btn btn-danger">Limpiar</button>'), cart_path(@cart), method: :delete, remote: true %>
      <% end %>
    </div>
  </div>
</div>

<script>
 $('#client_rut_input').on('input', function() {
   var old_rut = $('#client_rut_input').val();

   var f = function() {
     var new_rut = $('#client_rut_input').val();

     if (old_rut != new_rut) {
       return;
     }

     $.ajax({
       url: "<%= set_rut_path %>",
       type: 'PUT',
       data: { set_rut: new_rut }
     });
   };

   setTimeout(f, 500);
 });
</script>

