<% if @box_movement.errors.any? %>
  <div class="alert alert-danger">
    <%= pluralize(@box_movement.errors.count, "errors") %>

    <ul>
      <% @box_movement.errors.full_messages.each do |message| %>
	<li>
	  <%= message %>
	</li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for @box_movement, url: { action: :create } do |f| %>
      <%= f.label(:monto_apertura, 'Monto apertura (En pesos)') %>
      <%= f.number_field(:start_amount) %>
      <%= f.submit 'Abrir caja' %>
    <% end %>
  </div>
</div>
