<% if @box_movement.errors.any? %>
  <div class="alert alert-danger">
    <%= pluralize(@box_movement.errors.count, "errors") %>

    <ul>
      <% @box_movement.errors.full_messages.each do |message| %>
	<li>
	  <%= message %>
	</li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="panel panel-default">
  <div class="panel-body">
    <table class="table">
      <thead>
	<th>
	  Vendedor
	</th>

	<th>
	  Fecha apertura
	</th>

	<th>
	  Monto apertura
	</th>

	<th>
	  Ganancias
	</th>

	<th>
	  Monto final
	</th>
      </thead>

      <tbody>
	<tr>
	  <td>
	    <%= @box_movement.user.name %>
	  </td>

	  <td>
	    <%= @box_movement.start_date %>
	  </td>

	  <td>
	    $<%= @box_movement.start_amount %>
	  </td>

	  <td>
	    $<%= @box_movement.gains %>
	  </td>

	  <td>
	    $<%= @box_movement.final_amount %>
	  </td>
	</tr>
      </tbody>
    </table>

    <%= form_for(@box_movement, method: :delete) do |f| %>
      <%= f.label 'Monto final' %>
      <%= f.number_field :final_amount %>
      <%= f.submit 'Cerrar caja' %>
    <% end %>
  </div>
</div>
