<div class="panel panel-default">
  <div class="panel-body">
    <table class="table">
      <thead>
	<th>
	  Vendedor
	</th>

	<th>
	  Fecha apertura
	</th>

	<th>
	  Monto apertura
	</th>

	<th>
	  Ganancias
	</th>

	<th>
	  Monto final
	</th>
      </thead>

      <tbody>
	<tr>
	  <td>
	    <%= @box_movement.user.name %>
	  </td>

	  <td>
	    <%= @box_movement.start_date %>
	  </td>

	  <td>
	    $<%= @box_movement.start_amount %>
	  </td>

	  <td>
	    $<%= @box_movement.gains %>
	  </td>

	  <td>
	    $<%= @box_movement.final_amount %>
	  </td>
	</tr>
      </tbody>
    </table>

    <%= link_to 'Cerrar caja', box_movement_path(@box_movement), method: :delete, class: 'btn btn-default' %>
  </div>
</div>
