<% if @presentation.errors.any? %>
  <div class="alert alert-danger">
    <%= pluralize(@presentation.errors.count, "errors") %>

    <ul>
      <% @presentation.errors.full_messages.each do |message| %>
	<li>
	  <%= message %>
	</li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    Crear Precentacion
  </div>

  <div class="panel-body">
    <%= form_for @presentation do |f| %>
      <div class="row">

        <div class="col-md-4">
          <p>
            <%= f.label :name %><br>
            <%= f.text_field :name %>
          </p>

            <%= f.submit %>
          </p>
        </div>

      </div>

  </div>
    <% end %>
</div>
