<%= render 'partials/shared/list_errors', object: @waste %>

<div class="panel panel-default">

  <div class="panel-heading">
    Crear Merma
  </div>


  <div class="panel-body">
    <%= form_for @waste do |f| %>
      <div class="panel-group">
	<div class="panel panel-default">
	  <div class="panel-body">



	    <div class="col-md-4">
	      <div class="panel panel-default">
		<div class="panel-body">
		  <p>
		    <%= label_tag :codigo_producto %>
		    <br>

		    <%= autocomplete_field_tag :product_code, '', autocomplete_product_code_products_path %>

		  </p>

		  <p>
		    <%= label_tag :Sucursal %><br>
		    <%= autocomplete_field_tag :office_address, '', autocomplete_office_address_offices_path %>
		  </p>

		  <p>
		    <%= f.label :amount %><br>
		    <%= f.number_field :amount %>
		  </p>

		</div>
	      </div>
	    </div>

	    <div class="col-md-4">
	      <div class="panel panel-default">
		<div class="panel-body">
		  <p>
		    <%= f.label :description %><br>
		    <%= f.text_field :description %>
		  </p>


		  <p>
		    <%= f.label :motive %><br>
		    <%= f.text_field :motive %>
		  </p>

		  <p>
		    <%= f.label :date %><br>
		    <%= f.date_field :date, :default => DateTime.now  %>
		  </p>




		</div>
	      </div>
	    </div>



	  </div>
	</div>
      </div>


      <p>
	<%= f.submit %>
      </p>
  </div>

</div>
    <% end %>
