<% if @client.errors.any? %>
  <div class="alert alert-danger">
    <%= pluralize(@client.errors.count, "errors") %>

    <ul>
      <% @client.errors.full_messages.each do |message| %>
	<li>
	  <%= message %>
	</li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="panel panel-default">

  <div class="panel-heading">
    Crear Cliente
  </div>

  <div class="panel-body">
    <%= form_for @client do |f| %>
    <div class="row">

    <div class="col-md-4">

       <p>
         <%= f.label :nombre %><br>
         <%= f.text_field :name %>
       </p>
       <p>
         <%= f.label :apellido %><br>
         <%= f.text_field :lastname %>
       </p>
       <p>
         <%= f.label :rut %><br>
         <%= f.text_field :rut %>
       </p>


       <p>
         <%= f.label :Email %><br>
         <%= f.text_field :email %>
       </p>

       <p>
            <%= f.radio_button :gender, 'M' %>
            <%= f.label :gender, 'Masculino', :value => 'M' %>
            <%= f.radio_button :gender, 'F' %>
            <%= f.label :gender, 'Femenino', :value => 'F' %>
       </p>


       <p>
         <%= f.label :Fecha %><br />
         <%= f.date_select :birth, :start_year=>1900 %>
       </p>


       <p>
         <%= f.label :Tipo %><br>
         <%= f.text_field :kind %>
       </p>


           <p>
            <%= f.submit %>
           </p>
     </div>

     <% end %>
  </div>
 </div>
</div>
