<% if @dose.errors.any? %>
  <div class="alert alert-danger">
    <%= pluralize(@dose.errors.count, "errors") %>

    <ul>
      <% @dose.errors.full_messages.each do |message| %>
	<li>
	  <%= message %>
	</li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Modificar Dosis</h1>

<%= form_for(@dose) do |f| %>
  <p>
    <%= f.label :tipo %><br>
    <%= f.text_field :kind %>
  </p>

  <p>
    <%= f.label :cantidad %><br>
    <%= f.text_area :quantity %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Atras', doses_path %>
