<% if @dose.errors.any? %>
  <div class="alert alert-danger">
    <%= pluralize(@dose.errors.count, "errors") %>

    <ul>
      <% @dose.errors.full_messages.each do |message| %>
	<li>
	  <%= message %>
	</li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="panel panel-default">
  <div class="panel-heading">
    Crear Dosis
  </div>

  <div class="panel-body">
    <%= form_for @dose do |f| %>
      <div class="row">

        <div class="col-md-4">
          <p>
            <%= f.label :tipo %><br>
            <%= f.text_field :kind %>
          </p>
          <p>
            <%= f.label :cantidad %><br>
            <%= f.text_field :quantity %>
          </p>
            <%= f.submit %>
          </p>
        </div>

      </div>

  </div>
    <% end %>
</div>
