<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
      Venta
    </div>
  </div>

  <div class="panel-body">
    <%= form_tag(shopping_cart_path(@shopping_cart), method: 'put') do %>
      <%= label_tag(:q, 'Buscar producto') %>
      <%= text_field_tag(:search_product_field) %>
      <%= submit_tag('Agregar') %>
    <% end %>

    <table class="table">
      <thead>
	<th>
	  N° de Venta
	</th>
	<th>
	  Fecha
	</th>
      </thead>

      <tbody>
	<tr>
	  <td>
	    <%= Transaction.last.id + 1 %>
	  </td>

	  <td>
	    <%= Time.now.to_formatted_s(:db) %>
	  </td>
	</tr>
      </tbody>

      <div class="row">
      </div>
    </table>

    <%= render 'partials/shopping_cart/shopping_cart', shopping_cart: @shopping_cart %>

      <%= link_to 'Vender', "#" %>
  </div>
</div>

<script>
 $('#search_product_field')
   .autocomplete({
     source: "<%= autocomplete_product_name_products_path %>",
     minLength: 3
   });
</script>
