<tr>
  <td>
    <%= link_to product.name, product_path(product) %>
  </td>

  <td>
    <%= link_to product.category.description, category_path(product.category) %>
  </td>

  <td>
    <% if product.be %>
      Si
    <% else %>
      No
    <% end %>
  </td>

  <td>
    <%= link_to product.medicinal_ingredient.name, medicinal_ingredient_path(product.medicinal_ingredient) %>
  </td>

  <td>
    <%= product.isp %>
  </td>

  <td>
    $ <%= product.commission %>
  </td>

  <td>
    $ <%= product.purchase_price %>
  </td>

  <td>
    $ <%= product.sale_price %>
  </td>

  <td>
    $ <%= product.discount %>
  </td>

  <td>
    $ <%= product.profit %>
  </td>

  <td id="<%= product.identifier %>">
    <%= product.stock %>
  </td>

  <td>
    <%= product.minimum_stock %>
  </td>

  <% if current_user.admin? %>
    <td>
      <%= link_to 'Editar', edit_product_path(product) %>
    </td>
  <% end %>

  <% if current_user.admin? %>
    <td>
      <%= link_to 'Eliminar', product_path(product),
      method: :delete,
      data: { confirm: 'Estas Seguro?' } %>
    </td>
  <% end %>

  <  <td>
    <%= form_tag(cart_cart_item_index_path(@cart), action: 'create', remote: true) do %>
      <%= hidden_field_tag(:search_product_field, product.name) %>
      <%= button_tag '', type: 'submit', class: 'glyphicon glyphicon-ok' %>
    <% end %>
  </td>
</tr>
