<tr>
  <td>
    <%= product.code %>
  </td>

  <td>
    <%= link_to product.name, product_path(product) %>
  </td>

  <td>
    <%= link_to product.category.description, category_path(product.category) %>
  </td>

  <td>
    <% if product.be %>
      Si
    <% else %>
      No
    <% end %>
  </td>

  <td>
    <%= link_to product.principles.first.name, principle_path(product.principles.first) %>
  </td>

  <td>
    <%= product.isp %>
  </td>

  <td>
    $ <%= product.purchase_price %>
  </td>

  <td>
    $ <%= product.net_price %>
  </td>

  <td>
    $ <%= product.discount %>
  </td>

  <td>
    $ <%= product.profit %>
  </td>

  <td id="<%= product.identifier %>">
    <%= product.stock %>
  </td>

  <td>
    <%= product.minimum_stock %>
  </td>

  <% if can_sell? %>
    <td>
      <%= form_tag(cart_cart_item_index_path(@cart), action: 'create', remote: true) do %>
	<%= hidden_field_tag(:search_product_field, product.name) %>
	<div class="row">
	  <%= number_field_tag(:product_quantity, 1, min: 0) %>
	  <%= button_tag('', type: 'submit', class: 'glyphicon glyphicon-ok') %>
	</div>
      <% end %>
    </td>
  <% end %>

  <% if current_user.admin? %>
    <td>
      <%= render 'partials/products/edit_link', product: product %>
    </td>

    <td>
      <%= render 'partials/products/delete_link', product: product %>
    </td>
  <% end %>
</tr>

<style>
 #product_quantity {
   width: 50px;
 }
</style>
