<tr>
  <td>
    <%= link_to product.name, product_path(product) %>
  </td>

  <td>
    <%= link_to product.category.description, category_path(product.category) %>
  </td>

  <td>
    <% if product.be %>
      Si
    <% else %>
      No
    <% end %>
  </td>

  <td>
    <%= link_to product.medicinal_ingredient.name, medicinal_ingredient_path(product.medicinal_ingredient) %>
  </td>

  <td>
    <%= product.isp %>
  </td>

  <td>
    $ <%= product.commission %>
  </td>

  <td>
    $ <%= product.purchase_price %>
  </td>

  <td>
    $ <%= product.sale_price %>
  </td>

  <td>
    $ <%= product.discount %>
  </td>

  <td>
    $ <%= product.profit %>
  </td>

  <td id="<%= product.identifier %>">
    <%= product.stock %>
  </td>

  <td>
    <%= product.minimum_stock %>
  </td>

  <td>
    <%= form_tag(cart_cart_item_index_path(@cart), action: 'create', remote: true) do %>
      <%= hidden_field_tag(:search_product_field, product.name) %>
      <!-- <input type="number" id="product_quantity" name="product_quantity" size="1" width="1"> -->
      <%= number_field_tag(:product_quantity, 1, min: 0) %>
      <%= button_tag('', type: 'submit', class: 'glyphicon glyphicon-ok') %>
    <% end %>
  </td>

  <% if current_user.admin? %>
    <td>
      <%= link_to '', edit_product_path(product), class: 'glyphicon glyphicon-pencil'%>
    </td>
  <% end %>

  <% if current_user.admin? %>
    <td>
      <%= link_to '', product_path(product),
      method: :delete,
      data: { confirm: 'Estas Seguro?' },
      class: 'glyphicon glyphicon-remove' %>
    </td>
  <% end %>
</tr>

<style>
 #product_quantity {
   width: 50px;
 }
</style>
