<tr>
  <td>
    <%= link_to product.name, product_path(product) %>
  </td>

  <td>
    <%= link_to product.category.description, category_path(product.category) %>
  </td>

  <td>
    <%= product.be %>
  </td>

  <td>
    <%= link_to product.medicinal_ingredient.name, medicinal_ingredient_path(product.medicinal_ingredient) %>
  </td>

  <td>
    <%= product.isp %>
  </td>

  <td>
    $ <%= product.commission %>
  </td>

  <td>
    $ <%= product.purchase_price %>
  </td>

  <td>
    $ <%= product.sale_price %>
  </td>

  <td>
    $ <%= product.discount %>
  </td>

  <td>
    $ <%= product.profit %>
  </td>

  <td>
    <%= form_tag(cart_path(@cart), method: 'put', remote: true) do %>
      <%= hidden_field_tag(:search_product_field, product.name) %>
      <%= button_tag '', type: 'submit', class: 'glyphicon glyphicon-ok' %>
      <%#= submit_tag('Agregar a la venta', class: 'btn btn-default') %>
    <% end %>
  </td>
</tr>
