<% if @principle.errors.any? %>
  <div class="alert alert-danger">
    <%= pluralize(@principle.errors.count, "errors") %>

    <ul>
      <% @principle.errors.full_messages.each do |message| %>
	<li>
	  <%= message %>
	</li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1>Modificar Principio Activo</h1>

<%= form_for(@principle) do |f| %>

  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Atras', principles_path %>
