
<%= form_for :product do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :desciption %><br>
    <%= f.text_area :desciption %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>

