<div class="panel panel-default">
  <div class="panel-heading">
    Reporte stock bajo
  </div>

  <table class="table">
    <thead>
      <th>
	Producto
      </th>

      <th>
	Principio activo
      </th>

      <th>
	Stock Actual
      </th>

      <th>
	Stock minimo
      </th>

      <th>
  Precio compra
      </th>
    </thead>
    <tbody>
      <% @products.each do |ls| %>
      <tr>
	<td>
	  <%= ls.name %>
	</td>

	<td>
	  <%= ls.principles.first.name %>
	</td>

	<td>
	  <%= ls.stock %>
	</td>

	<td>
	  <%= ls.minimum_stock %>
	</td>

	<td>
	  <%= ls.purchase_price %>
	</td>

      <%end%>
    </tr>
    </tbody>
  </table>
</div>
