
<h1>Modificar Categorias</h1>
 
<%= form_for(@category) do |f| %>
 
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Atras', categories_path %>