<% if @category.errors.any? %>
  <div class="alert alert-danger">
    <%= pluralize(@category.errors.count, "errors") %>

    <ul>
      <% @category.errors.full_messages.each do |message| %>
	<li>
	  <%= message %>
	</li>
      <% end %>
    </ul>
  </div>
<% end %>


<h1>Modificar Categorias</h1>

<%= form_for(@category) do |f| %>

  <p>
    <%= f.label :descripcion %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>

<% end %>

<%= link_to 'Atras', categories_path %>
