<%= render 'partials/shared/list_errors', object: @category %>

<div class="panel panel-default">
  <div class="panel-heading">
    Crear Categoria
  </div>

  <div class="panel-body">
    <%= form_for @category do |f| %>
      <div class="row">

	<div class="col-md-4">
	  <p>
	    <%= f.label :descripcion %><br>
	    <%= f.text_field :description %>
	  </p>
	  <p>
	    <%= f.submit %>
	  </p>
	</div>

      </div>

  </div>
    <% end %>
</div>
