<tr>
  <td>
    <%= product.name %>
  </td>

  <td>
    <%= product.category.description %>
  </td>

  <td>
    <%= product.be %>
  </td>

  <td>
    <%= product.medicinal_ingredient.name %>
  </td>

  <td>
    <%= product.isp %>
  </td>

  <td>
    $ <%= product.commission %>
  </td>

  <td>
    $ <%= product.purchase_price %>
  </td>

  <td>
    $ <%= product.sale_price %>
  </td>

  <td>
    $ <%= product.discount %>
  </td>

  <td>
    $ <%= product.profit %>
  </td>
</tr>
