<% if @product.errors.any? %>
  <div class="alert alert-danger">
    <%= pluralize(@product.errors.count, "errors") %>

    <ul>
      <% @product.errors.full_messages.each do |message| %>
	<li>
	  <%= message %>
	</li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="panel panel-default">

  <div class="panel-heading">
    Editar producto
  </div>


  <div class="panel-body">
    <%= form_for @product do |f| %>

	<div class="col-md-4">
	<div class="panel-group">
	  <div class="panel panel-default">
	    <div class="panel-body">Infromacion

		    <p>
		    <%= f.label :nombre %><br>
		    <%= f.text_field :name %>
		  </p>

		  <p>
		    <%= f.label(:isp, "Instituto de Salud Pública de Chile") %>
		    <%= f.text_field(:isp) %>
		  </p>

		 <p>
		    <%= f.label :descripcion %><br>
		    <%= f.text_area :description %>
		  </p>

		  <p>
		    <%= label_tag(:product_be, "Es bio equivalente") %>
		    <%= check_box_tag(:product_be) %>
		  </p>

			</div>
		</div>
	     </div>
	  </div>




	<div class="col-md-4">
	<div class="panel panel-default">
	    <div class="panel-body">Dinero

		   <p>
		  <%= f.label :descuento %><br>
		  <%= f.text_field :discount %>
		  </p>
		  
		  <p>
		    <%= f.label :precio_de_compra %><br>
		    <%= f.text_field :purchase_price %>
		  </p>
		  
		  <p>
		    <%= f.label :precio_de_venta %><br>
		    <%= f.text_field :sale_price %>
		  </p>


	    <p>
	      <%= f.label :stock %><br>
	      <%= number_field_tag :stock %>
	    </p>

	    <p>
	      <%= f.label :minimum_stock %><br>
	      <%= number_field_tag :minimum_stock %>
	    </p>
	</div>
	  </div>
	</div>





	<div class="col-md-3">
	<div class="panel panel-default">
	    <div class="panel-body">Categorias

		  <p>
		    <%= f.label 'Nombre categoria' %> <br>
		    <%= text_field_tag :category_descripcion %>
		  </p>
		   <p>
		    <%= f.label :presentation_id %> <br>
		    <%= text_field_tag :presentation %>
		  </p>
		  <p>
		    <%= f.label :principle_id %> <br>
		    <%= text_field_tag :principles %>
		  </p>
		  
		  <p>
		      <%= f.label :laboratory_id %> <br>
		      <%= f.text_field :laboratory_id %>
	      </p>

		 <p>
		    <%= f.label :provider_id %> <br>
		    <%= f.text_field :provider_id %>
		  </p>
	</div>
	  </div>
	</div>





	  <p>
	    <%= f.submit %>
	  </p>
	    <%= link_to 'Atras', clients_path %>

      </div>
  </div>
<% end %>
