<div class="panel panel-default">
  <div class="panel-heading">
  </div>

  <table class="table">
    <thead>
      <th>
	Principio activo
      </th>

      <th>
	Nombre
      </th>

      <th>
	Presentacion
      </th>

      <th>
	Precio por unidad
      </th>

      <th>
	BE
      </th>
    </thead>
    <tbody>
      <% @products.each do |pr| %>
	<tr>

	  <td>
	    <%=  pr.principles.first.name %>
	  </td>

	  <td>
	    <%= pr.name  %>
	  </td>

	  <td>
	    <%= pr.presentation.name %>
	  </td>

	  <td>
	    <%=  pr.sale_price  %>
	  </td>

	  <td>
	    <% if pr.be %>
	      Si
	    <% else %>
	      No
	    <%end %>
	  </td>
      <% end %>
	</tr>
    </tbody>
  </table>
</div>

<%= link_to 'Transformar a PDF', products_path(@products, format: :pdf), class: 'btn btn-success' %>
