<% if @product.errors.any? %>
  <div class="alert alert-danger">
    <%= pluralize(@product.errors.count, "errors") %>

    <ul>
      <% @product.errors.full_messages.each do |message| %>
	<li>
	  <%= message %>
	</li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="panel panel-default">

  <div class="panel-heading">
    Crear producto
  </div>

  <div class="panel-body">
    <%= form_for @product do |f| %>
      <div class="row">

	<div class="col-md-4">
	  <p>
	    <%= f.label :nombre %><br>
	    <%= f.text_field :name %>
	  </p>
	  <p>
	    <%= f.label :precio_de_venta %><br>
	    <%= f.text_field :sale_price %>
	  </p>
	  <p>
	    <%= f.label :precio_de_compra %><br>
	    <%= f.text_field :purchase_price %>
	  </p>
	  <p>
	    <%= f.label :exempt %><br>
	    <%= f.text_field :exempt %>
	  </p>
	  <p>
	    <%= f.label :commision %><br>
	    <%= f.text_field :commission %>
	  </p>

	  <p>
	    <%= label_tag(:product_be, "Es bio equivalente") %>
	    <%= check_box_tag(:product_be) %>
	  </p>


	  <p>
	    <%= label_tag(:isp, "Instituto de Salud Pública de Chile") %>
	    <%= check_box_tag(:isp) %>
	  </p>
	</div>

	<div class="col-md-4">
	  <%= f.label :descuento %><br>
	  <%= f.text_field :discount %>
	  </p>

	  <p>
	    <%= f.label :descripcion %><br>
	    <%= f.text_area :description %>
	  </p>

	  <%#     <p>
	    <%= f.label :quantity %><br>
	    <%#    <%= f.text_field :quantity %>
	    <%#  </p> %>

	    <p>
	      <%= label_tag :category_description %> <br>
	      <%= text_field_tag :category_description %>
	    </p>
	    <p>
	      <%= label_tag :dose_kind %> <br>
	      <%= text_field_tag :dose_kind %>
	    </p>
	    <p>
	      <%= label_tag :medicinal_ingredient_name %> <br>
	      <%= text_field_tag :medicinal_ingredient_name %>
	    </p>

	    <p>
	      <%= label_tag :provider_name %> <br>
	      <%= text_field_tag :provider_name %>
	    </p>

      <p>
  	    <%= f.label :stock %><br>
  	    <%= f.text_area :stock %>
  	  </p>

      <p>
  	    <%= f.label :minimum_stock %><br>
  	    <%= f.text_area :minimum_stock %>
  	  </p>


	    <p>
	      <%= f.submit %>
	    </p>
	</div>
	<p>

      </div>

  </div>
    <% end %>
</div>
