<!DOCTYPE html>
<html>
  <head>
    <title>
      Farmacia
    </title>

    <link rel="shortcut icon" href="/images/favicon.png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top navbar-collapse">
      <div class="navbar-brand">
	<%= link_to 'Farmacia', root_path %>
      </div>

      <div class="navbar-left">
	<ul class="nav navbar-nav">
	  <% if user_signed_in? %>

	    <li>
	      <%= link_to 'Venta', new_cart_path %>
	    </li>

	    <li role="presentation" class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" role="button"  href="#"> Productos	</a>
	      <ul class="dropdown-menu">
		<li> <%= link_to 'Crear producto', new_product_path %>   </li>
		<li> <%= link_to 'Buscar Producto', '#' %>   </li>
		<li> <%= link_to 'Editar Producto', new_product_path %>   </li>
	      </ul>
	    </li>

	    <li role="presentation" class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" role="button"  href="#"> Proveedor	</a>
	      <ul class="dropdown-menu">
		<li> <%= link_to 'Crear proveedor', new_provider_path %>   </li>
		<li> <%= link_to 'Buscar proveedor', new_provider_path %>   </li>
		<li> <%= link_to 'Editar proveedor', new_provider_path %>   </li>
	      </ul>
	    </li>

	    <li role="presentation" class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" role="button"  href="#"> Clientes	</a>
	      <ul class="dropdown-menu">
		<li> <%= link_to 'Crear cliente', new_client_path %>   </li>
		<li> <%= link_to 'Buscar cliente', new_client_path %>   </li>
		<li> <%= link_to 'Editar cliente', new_client_path %>   </li>
	      </ul>
	    </li>

      <li role="presentation" class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" role="button"  href="#"> Informes	</a>
	      <ul class="dropdown-menu">
		<li> <%= link_to 'Inventario', new_provider_path %>   </li>
		<li> <%= link_to 'Merma', new_provider_path %>   </li>
		<li> <%= link_to 'Lista z del dia', new_provider_path %>   </li>
    <li> <%= link_to 'Historico precios', new_provider_path %>   </li>
    <li> <%= link_to 'Historico proveedores', new_provider_path %>   </li>
	      </ul>
	    </li>


	  <% end %>
	</ul>
      </div>

      <div class="navbar-right">
	<ul class="nav navbar-nav">
	  <% if user_signed_in? %>
	    <li role="presentation" class="dropdown">
	      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
		 <%= link_to current_user.rut, user_path(current_user) %>
	      </a>

	      <ul class="dropdown-menu">
		<li>
		  <%= link_to 'Cerrar sesion', destroy_user_session_path, method: :delete %>
		</li>
	      </ul>
	    </li>
	  <% else %>
	    <li>
	      <%= link_to 'Iniciar sesion', new_user_session_path %>
	    </li>
	  <% end %>
	</ul>
      </div>
    </div>

    <div class="container">
      <% if notice %>
	<div class="alert alert-success">
	  <%= notice %>
	</div>
      <% end %>

      <% if alert %>
	<div class="alert alert-danger">
	  <%= alert %>
	</div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
