<!DOCTYPE html>
<html>
  <head>
    <title>Farmacia</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top navbar-collapse">
      <div class="navbar-brand">
	<%= link_to 'Farmacia', '#' %>
      </div>

      <div class="navbar-right">
	<ul class="nav navbar-nav">
	  <li>
	    <%= link_to 'Iniciar sesion', '#' %>
	  </li>
	</ul>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
