<tr>

  <td>
    <%= waste.product.name %>
  </td>

  <td>
    <%= waste.amount %>
  </td>

  <td>
    <%= waste.description %>
  </td>

  <td>
    <%= waste.motive %>
  </td>

  <td>
    <%= waste.office_id %>
  </td>

  <td>
    <%= waste.data %>
  </td>

    <td>
      <%= link_to 'Editar', edit_provider_path(provider) %>
    </td>

    <td><%= link_to 'Eliminar', provider_path(provider),
	method: :delete,
	data: { confirm: 'Estas Seguro?' } %>
    </td>
  <% end %>
</tr>

